body {
	background: #1b1b1b;
	color: #a7d129;
/*	font-family: 'Inconsolata', monospace; */
	letter-spacing: 1.2px;
	line-height: 1.2em;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 300;
}


.content {
	padding-top: 12px;
	padding:5px;
    width:100%;
    background-color: #1c1d1c;
    max-width:1024px;
    margin: 24px auto;
}
#header {
	width: 100%; 
	background-color: #191919; 
	border-bottom: solid 1px black;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
#divbody {
	margin-bottom: 15px;
}
hr{
	color: #123321;
}

/* Textual CSS: */
h3 {
	margin-top: 8px;
	margin: 2px;
	padding: 2px;
	padding-top: 30px;
}

h4 {
	margin-top: 8px;
	margin: 2px;
	padding: 2px;
	padding-top: 20px;
}

em {
	color: #CFDF47;
	font-weight: lighter;
}
ul{
	list-style: none;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 2px;
}

li{
	color:#81b214;
	font-style: italic;
}

a{
	text-decoration: none;
	color: #9ede73;
}

a:hover,active {
	color: #9ede73;
	font-weight: bold;
}

/* Block Stuff CSS: */
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
}

p {
	background-color: #1F1F1F;
	padding: 1px;
	margin-top: 12px;
	margin-bottom: 12px;
}
header {
	width:100%;
	max-width:800px;
	margin:0px auto;
	padding-top:24px;
	padding-bottom:8px;
}
#footer {
	padding-top:10px;
	text-align:center;
	font-size:small;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 300;
}
#all_posts {
	margin-top:24px;
	margin-bottom:24px;
	text-align:center;
}
.subtitle {
	font-size:small;
	margin:12px 0px;
	color: #CFCFCF;
}
.content p {
	margin-left:24px;
	margin-right:24px;
	padding-bottom: 5px;
	padding-top: 5px;
}
a.ablack {
	background-color: #181818;
	padding: 2px;
}